<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>competition</key>
		<array>
			<dict>
				<key>competitionName</key>
				<string>全国大学生办公软件高级应用大赛</string>
				<key>competitionID</key>
				<string>1</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国大学生C语言设计大赛</string>
				<key>competitionID</key>
				<string>2</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国大学生计算机技能应用大赛</string>
				<key>competitionID</key>
				<string>3</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>微信小程序应用开发赛</string>
				<key>competitionID</key>
				<string>4</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>“中国软件杯”大学生软件设计大赛</string>
				<key>competitionID</key>
				<string>5</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国并行应用挑战赛</string>
				<key>competitionID</key>
				<string>6</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>中国大学生计算机设计大赛</string>
				<key>competitionID</key>
				<string>7</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>中国互联网+大学生创新创业大赛</string>
				<key>competitionID</key>
				<string>102</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>ACM-ICPC国际大学生程序设计竞赛</string>
				<key>competitionID</key>
				<string>103</string>
			</dict>
		</array>
		<key>type</key>
		<string>计算机与互联网</string>
	</dict>
	<dict>
		<key>competition</key>
		<array>
			<dict>
				<key>competitionName</key>
				<string>中国纺织类高校大学生创意创新创业大赛</string>
				<key>competitionID</key>
				<string>8</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>中国航天创新创业大赛</string>
				<key>competitionID</key>
				<string>9</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国高校智能交通创新与创业大赛</string>
				<key>competitionID</key>
				<string>10</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国大学生生命科学创新创业大赛</string>
				<key>competitionID</key>
				<string>11</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国集成电路“创业之芯”大赛</string>
				<key>competitionID</key>
				<string>12</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>中国大学生服务外包创新创业大赛</string>
				<key>competitionID</key>
				<string>13</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>中国虚拟现实创新创业大赛</string>
				<key>competitionID</key>
				<string>14</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>挑战杯 全国大学生创业计划大赛</string>
				<key>competitionID</key>
				<string>106</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国大学生电子商务“创新、创意及创业”挑战赛</string>
				<key>competitionID</key>
				<string>114</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>中国虚拟现实创新创业大赛</string>
				<key>competitionID</key>
				<string>14</string>
			</dict>
		</array>
		<key>type</key>
		<string>创业大赛</string>
	</dict>
	<dict>
		<key>competition</key>
		<array>
			<dict>
				<key>competitionName</key>
				<string>娃哈哈全国大学生校园营销实践大赛</string>
				<key>competitionID</key>
				<string>15</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>青岛啤酒大学生微营销大赛</string>
				<key>competitionID</key>
				<string>16</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>百度校园国际营销大赛</string>
				<key>competitionID</key>
				<string>17</string>
			</dict>
		</array>
		<key>type</key>
		<string>营销策划</string>
	</dict>
	<dict>
		<key>competition</key>
		<array>
			<dict>
				<key>competitionName</key>
				<string>全国互联网金融与新金融案例大赛</string>
				<key>competitionID</key>
				<string>18</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国高校互联网金融应用创新大赛</string>
				<key>competitionID</key>
				<string>19</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>“杏仁杯”互联网金融创新大赛</string>
				<key>competitionID</key>
				<string>20</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>华为财务精英挑战赛</string>
				<key>competitionID</key>
				<string>21</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>“中金所杯”全国大学生金融知识大赛</string>
				<key>competitionID</key>
				<string>22</string>
			</dict>
		</array>
		<key>type</key>
		<string>金融比赛</string>
	</dict>
	<dict>
		<key>competition</key>
		<array>
			<dict>
				<key>competitionName</key>
				<string>全国大学生广告艺术大赛</string>
				<key>competitionID</key>
				<string>23</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国雷锋精神公益广告作品征集大赛</string>
				<key>competitionID</key>
				<string>24</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>中国大学生广告艺术节学院奖·秋季赛</string>
				<key>competitionID</key>
				<string>25</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>全国税收公益广告作品征集</string>
				<key>competitionID</key>
				<string>26</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>大学生红色旅游创意策划大赛</string>
				<key>competitionID</key>
				<string>27</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>上海国际大学生广告节</string>
				<key>competitionID</key>
				<string>28</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>大学生红色旅游创意策划大赛</string>
				<key>competitionID</key>
				<string>27</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>大学生红色旅游创意策划大赛</string>
				<key>competitionID</key>
				<string>27</string>
			</dict>
			<dict>
				<key>competitionName</key>
				<string>大学生红色旅游创意策划大赛</string>
				<key>competitionID</key>
				<string>27</string>
			</dict>
		</array>
		<key>type</key>
		<string>广告创意</string>
	</dict>
</array>
</plist>
