<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>major</key>
		<array>
			<string>金融学</string>
			<string>经济学</string>
			<string>财政学</string>
			<string>金融工程</string>
			<string>贸易经济</string>
			<string>投资学</string>
			<string>金融数学</string>
			<string>保险学</string>
			<string>资源与环境经济</string>
			<string>国民经济管理</string>
			<string>信用管理</string>
		</array>
		<key>type</key>
		<string>经济学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>法学</string>
			<string>社会工作</string>
			<string>思想政治教育</string>
			<string>知识产权</string>
			<string>公安管理学</string>
			<string>社会学</string>
			<string>国际政治</string>
			<string>人类学</string>
			<string>科学社会主义学</string>
			<string>民族学</string>
			<string>政治学与行政学</string>
		</array>
		<key>type</key>
		<string>法学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>学前教育</string>
			<string>人文教育</string>
			<string>科学教育</string>
			<string>教育学</string>
			<string>艺术教育</string>
			<string>社会体育指导</string>
			<string>运动人体科学</string>
		</array>
		<key>type</key>
		<string>教育学</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>汉语言文学</string>
			<string>英语专业</string>
			<string>翻译学</string>
			<string>俄语</string>
			<string>法语</string>
			<string>德语</string>
			<string>阿拉伯语</string>
			<string>意大利语</string>
			<string>中国少数民族语言学</string>
			<string>传播学</string>
			<string>广告学</string>
		</array>
		<key>type</key>
		<string>文学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>历史学</string>
			<string>考古学</string>
			<string>文物与博物馆学</string>
			<string>文物保护技术专业</string>
			<string>世界史专业</string>
		</array>
		<key>type</key>
		<string>历史学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>统计学</string>
			<string>应用化学</string>
			<string>生物技术</string>
			<string>数学与应用数学</string>
			<string>心理学</string>
			<string>地理科学专业</string>
			<string>化学专业</string>
			<string>海洋技术专业</string>
			<string>生态学</string>
			<string>天文学</string>
			<string>核物理专业</string>
			<string>数理基础科学</string>
			<string>古生物学</string>
			<string>地球化学</string>
		</array>
		<key>type</key>
		<string>理学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>土木工程</string>
			<string>自动化</string>
			<string>计算机科学与技术</string>
			<string>软件工程</string>
			<string>测控技术与仪器</string>
			<string>信息安全</string>
			<string>电子信息</string>
			<string>通信工程</string>
			<string>建筑学</string>
			<string>环境科学</string>
			<string>数字媒体技术</string>
			<string>食品科学与工程</string>
			<string>电气工程及其自动化</string>
			<string>安全工程</string>
			<string>网络工程</string>
			<string>水利水电工程</string>
			<string>轮机工程</string>
			<string>车辆工程</string>
			<string>材料科学与工程</string>
			<string>大数据专业</string>
		</array>
		<key>type</key>
		<string>工学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>园林专业</string>
			<string>动物科学</string>
			<string>园艺专业</string>
			<string>农学</string>
			<string>植物保护</string>
			<string>海洋渔业科学</string>
			<string>应用生物科学</string>
			<string>动植物科学与技术</string>
		</array>
		<key>type</key>
		<string>农学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>市场营销</string>
			<string>电子商务</string>
			<string>财务管理</string>
			<string>人力资源管理专业</string>
			<string>工程管理</string>
			<string>会计学</string>
			<string>国际商务</string>
			<string>审计学</string>
			<string>土地资源管理专业</string>
			<string>管理科学</string>
			<string>物流工程与管理</string>
			<string>海关管理学</string>
			<string>劳动与社会保障学</string>
		</array>
		<key>type</key>
		<string>管理学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>逻辑学</string>
			<string>宗教学</string>
			<string>伦理学</string>
			<string>哲学</string>
		</array>
		<key>type</key>
		<string>哲学类</string>
	</dict>
	<dict>
		<key>major</key>
		<array>
			<string>数字媒体艺术</string>
			<string>音乐表演专业</string>
			<string>广播电视编导</string>
			<string>动画专业</string>
			<string>美术学</string>
			<string>摄影专业</string>
			<string>播音与主持艺术</string>
			<string>表演专业</string>
			<string>音乐学</string>
			<string>艺术设计学</string>
			<string>雕塑学</string>
			<string>舞蹈学</string>
			<string>艺术与科技专业</string>
			<string>戏剧学专业</string>
			<string>服装与服饰设计</string>
		</array>
		<key>type</key>
		<string>艺术类</string>
	</dict>
</array>
</plist>
